body{
    background-color: darkmagenta;

}
h1{
    color: white;
    margin-bottom: 3rem;
    text-align: center;
    margin-top:10rem;
}

button{
    width:15rem;
    height:2.5rem;
    border-radius: 7px;
    border-style:none;
    background-color: rgb(163, 38, 201);
    box-shadow:3px 3px 9px black;
    font-size:0.9rem;
    color: aliceblue;
   
}

input{
    width:20rem;
    height:2rem;
    margin-bottom: 2rem;
    border-radius: 9px;
    border-style: none;
    background-color: rgb(70, 172, 175);
    box-shadow:5px 5px 1px;
}

::placeholder{
    color:aliceblue
}

.nameInput{
    width:20rem;
    height:2rem;
    margin:6rem 0 2rem 0;
    border-radius: 9px;
}

.form{
background-color: rgb(109, 35, 132);
text-align: center;
margin:1rem auto;
width: 30%;
height: 25rem;
border-radius: 10px;
box-shadow:10px 10px 10px;

}